body {
    font: 14px sans-serif;
}

.sideBar {
    width: 25%;
    float:right;
}

#org-list {
    height: 550px;
    overflow: scroll;
}
.state {
    fill: lightgrey;
    stroke: white;
    stroke-width: 1px;
    transition: fill .1s linear;
}

.overlay {
    fill: none;
}

.focus text {
    fill: black;
    font-weight: 600;
}

.datetext{
    text-anchor: middle;
    font-size: 0.5vh;
}

#transactions-table{
     /*width: 800px;
     height: 900px;*/
     height: 87vh;
     overflow: scroll;
}
#profModal {
    height: 90%;
    width: 90%;
}

#legend{
  height: 60vh;
  overflow: scroll;
}

tbody {
  display:block;
  height:80vh;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}
table {
  width:100%;
}

td{
    word-wrap:break-word
}
