body {
    font: 14px sans-serif;
}

.modal {
  width: 90% !important ;
  max-height: 90% !important ;
  top: 2% !important
}

.sideBar {
    width: 25%;
    float:right;
}

#org-list {
    height: 550px;
    overflow: scroll;
}
.state {
    fill: lightgrey;
    stroke: white;
    stroke-width: 1px;
    transition: fill .1s linear;
}

.overlay {
    fill: none;
}

.focus text {
    fill: black;
    font-weight: 600;
}

.datetext{
    text-anchor: middle;
    font-size: 0.5vh;
}


#transactions-table{

     height: 87vh;
     overflow: scroll;
}

#networkGraph{

     height: 87vh;
  
}

#profModal {
    height: 100%;
    width: 90%;
    font-size: 20px;
}

#legend{
  height: 60vh;
  overflow: scroll;
}

#profSummary{
    height: 30vh;
    overflow: scroll;
    hyphens: auto;
  }

tbody {
  display:block;
  height:80vh;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}
table {
  width:100%;
}

td{
    word-wrap:break-word
}

/*.circle{
  pointer-events: none !important;
}*/
/*#current_t,#current_i{
  pointer-events: none !important;
}

#current_c{
  pointer-events: auto !important;
}*/



